{{ $url := $.Site.BaseURL }}
{{ $image := .Params.image | urlize }}
{{ $date := .Date.Format "January 2006" }}
{{ $title := .Title }}
{{ $designed := .Params.designed }}
{{ $folded := .Params.folded }}
{{ $description := .Description }}

<!-- TODO: Figure out why line height causes issues here -->
<div class="flex-item flex-item-spacing no-line-height">
    <div class="relative rounded-corners z-depth-1 lazyload" data-noscript="">
            <a href="{{ $image }}" data-lightbox="gallery" data-title="{{ $title }} <br> Designed by {{ $designed }}, folded by {{ $folded }} ({{ $date }}) <br> {{ $description }}">
                <img src="{{ $image }}"
                     class="fill-container-width rounded-corners z-depth-1" />
                <div class="highlight-block rounded-corners">
                    <h3 class="white-text">{{ $title }}</h3>
                </div>
            </a>
    </div>
</div>